@model SwEventManager.Models.Event

@{
    ViewBag.Title = "Event Details";
}

<h2>Event Details</h2>
<hr />
<br />
<div>
    <div class="DisplayEvent">
        <b>Event Name: </b>
        @Html.DisplayFor(model => model.EventName)
    </div>
    <div class="DisplayEvent">
        <b>Event Description: </b>
        @Html.DisplayFor(model => model.EventDescription)
    </div>
    <div class="DisplayEvent">
        <b>Event Category: </b>
        @Html.DisplayFor(model => model.EventCategory)
    </div>
    <div class="DisplayEvent">
        <b>Start Date: </b>
        @Model.StartDate.ToShortDateString();
        <br/>
        <b>End Date: </b>
        @Model.EndDate.ToShortDateString();
    </div>
    <div class="DisplayEvent">
        <b>Start Time: </b>
        @Html.DisplayFor(model => model.StartTime)
        <br/>
        <b>End Time: </b>
        @Html.DisplayFor(model => model.EndTime)
    </div>
    <div class="DisplayEvent">
        <b>Location: </b>
        @Html.DisplayFor(model => model.Location)
    </div>
    <div class="DisplayEvent">
        <b>Adult Price: </b>
        @Html.DisplayFor(model => model.AdultPrice)
        <br/>
        <b>Child Price: </b>
        @Html.DisplayFor(model => model.ChildPrice)
    </div>
    <div class="DisplayEvent">
        <b>Company Name: </b>
        @Html.DisplayFor(model => model.CompanyName)
    </div>

    <br />
    @*<a>
        <img src="@Model.imagePath" alt="image" style="width:500px">
    </a>*@
    <br />




</div>
<br/>
<p class="links", style="font-size:20px">
    @{int id = Model.EventID; }

    @if (Model.OpenForRegistration)
    {
        @Html.ActionLink("Register", "Create", id);
        <a>|</a>
    }
    @Html.ActionLink("Back to Events", "Index", "UserEvents")
</p>
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
<br /><br /><br /><br /><br /><br /><br /><br />
