@model IEnumerable<SwEventManager.Models.Event>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EventName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
       
        <th>
            @Html.DisplayNameFor(model => model.EventImage)
        </th>
     
    </tr>

@foreach (var item in Model) {
<div>
    @Html.DisplayFor(modelItem => item.EventImage)
    
</div>
<div>
    @Html.DisplayFor(modelItem => item.Location):@Html.DisplayFor(modelItem => item.EventName)
</div>
    
<div>
    
</div>    
   

}

</table>
