@model IEnumerable<SwEventManager.Models.Event>

@{
    ViewBag.Title = "Index"; ViewBag.Title = "Index";
}
<br/>
<h2>Events</h2>
<hr/>
<p style="text-align:left">Click on <b>More Details</b> to register an order for an event</p>
<hr/>
<br/>

<div class="container-fluid">
@foreach (var item in Model)
{
    <div class="EventDisplay">
        <img src=@item.imagePath alt="image" width="230" height="180" class="center">
        <p style="margin-left:4em">
            <br />
            <b>Event:</b> @Html.DisplayFor(modelItem => item.EventName)
            <br />
            <b>Location:</b> @Html.DisplayFor(modelItem => item.Location)
            <br />
            <b>Adult Price:</b> @String.Format("{0:C2}", @item.AdultPrice);
            <br />
            <b>Child Price:</b> @String.Format("{0:C2}", @item.ChildPrice);
            <br />
            <b>Start Date:</b> @item.StartDate.ToShortDateString()
            <br />
            <b>Start Time:</b> @item.StartTime.ToString()
        </p>
        <div style="margin-left:4em">
            <b>@Html.ActionLink("More Details", "Details", new { id = item.EventID })</b>
        </div>
    </div>

}
</div>
<br/>
<hr/>
