<!DOCTYPE html>

<html>

@*<head style="background-color: #00FFFF">*@
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
@*<body style="background-color: #2F4F4F">*@
<body>
    @*<div class="navbar navbar-inverse navbar-fixed-top">*@
    <div class="left">
        <div class="btn-group-vertical">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Events App", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Events", "Index", "AdminEvents")</li>
                    <li>@Html.ActionLink("Users", "Index", "AdminUsers")</li>
                    <li>@Html.ActionLink("UserView(Events)", "Index", "UserEvents")</li>
                    <li>@Html.ActionLink("Logout", "Logout", "Users")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>TEAM#2 Events App</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

<style>
    body {
        background-color: aqua;
        color: black;
        margin: 0;
        padding: 0;
        font-size: 150%;
    }
    head {
        background-color: slategray;
        color: whitesmoke;
    }
    label {
        color: midnightblue
    }
    .left {
        width: 10%;
        float: left;
    }
    .nav {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .nav li {
        margin: 1px 0;
        border: 1px solid #999;
    }

    .nav li a {
        display: block;
        line-height: 3em;
        width: 100%;
        text-decoration: none;
    }
</style>
