@model SwEventManager.Models.Order

@{
    ViewBag.Title = "Create New Order";
}
<br/>
<h2>Create New Order</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        <label class="control-label col-md-2">Phone Number</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.PhoneNum, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.PhoneNum, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Total Adult</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.TotalAdult, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.TotalAdult, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Total Child</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.TotalChild, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.TotalChild, "", new { @class = "text-danger" })
        </div>
    </div>



    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div class="col-md-offset-2 col-md-10">
    @Html.ActionLink("Back to List", "../UserEvents/Index")
</div>
<br/>
<hr/>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
