@model IEnumerable<SwEventManager.Models.Order>

@{
    ViewBag.Title = "Orders List";
}
<br />
@if (Session["IsAdmin"].ToString().Equals("True"))
{
    <h2>All Orders Made</h2>
}
else
{
    <h2>Your Orders Made</h2>
}
<hr />
<br />

<table class="table">
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Phone Number</th>
        <th>Total Adult</th>
        <th>Total Child</th>
        <th>Total Price</th>
        <th>Order Date</th>
        <th>Event Name</th>
        <th>Location</th>
        <th>Confirmed</th>
        <th>Actions</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.User.Firstname)</td>
            <td>@Html.DisplayFor(modelItem => item.User.Lastname)</td>
            <td>@Html.DisplayFor(modelItem => item.PhoneNum)</td>
            <td>@Html.DisplayFor(modelItem => item.TotalAdult)</td>
            <td>@Html.DisplayFor(modelItem => item.TotalChild)</td>
            <td>@Html.DisplayFor(modelItem => item.totalPrice)</td>
            <td>@Html.DisplayFor(modelItem => item.OrderDate)</td>
            <td>@Html.DisplayFor(modelItem => item.Event.EventName)</td>
            <td>@Html.DisplayFor(modelItem => item.Location)</td>
            <td>@Html.DisplayFor(modelItem => item.confirmed)</td>
            <td>
                @Html.ActionLink("Confirm", "ConfirmOrder", new { id = item.OrderID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.OrderID })
            </td>
        </tr>
    }

</table>
<br />
<hr />
