@model SwEventManager.Models.User

@{
    ViewBag.Title = "Delete User";
}

<h2>Delete User</h2>

<p style="font-size:18px">Are you sure you want to delete this User?</p>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>First Name</dt>
        <dd>@Html.DisplayFor(model => model.Firstname)</dd>
        <dt>Last Name</dt>
        <dd>@Html.DisplayFor(model => model.Lastname)</dd>
        <dt>Email</dt>
        <dd>@Html.DisplayFor(model => model.Email)</dd>
        <dt>Is Admin</dt>
        <dd>@Html.DisplayFor(model => model.IsAdmin)</dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Cancel", "Index", new { @class="btn btn-default" })
        </div>
    }
</div>
