@model IEnumerable<SwEventManager.Models.Event>

@{
    ViewBag.Title = "Event Manager";
}

<h2>Event Manager</h2>
<hr/><br/>
     <div style="font-size:18px; text-align:center">
         @Html.ActionLink("Create New Event", "Create", null, new { @class = "new-user" })
     </div>
<table class="table">
    <tr>
        <th>Event Name</th>
        <th>Catagory</th>
        <th>Location</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Start Time</th>
        <th>End Time</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>@item.EventName</td>
    <td>@Html.DisplayFor(modelItem => item.EventCategory)</td>
    <td>@Html.DisplayFor(modelItem => item.Location)</td>
    <td>@item.StartDate.ToShortDateString()</td>
    <td>@item.EndDate.ToShortDateString()</td>
    <td>@item.StartTime.ToString()</td>
    <td>@item.EndTime.ToString()</td>
    <td>@Html.ActionLink("Edit", "Edit", new { id = item.EventID })</td>
    <td>@Html.ActionLink("Delete", "Delete", new { id = item.EventID })</td>
</tr>
}

</table>
